# DISTANCIAS

In [1]:
import numpy as np
import random
import pandas as pd

GENERAR DATASET

In [2]:
def datos():
    dt=pd.DataFrame()
    categorias=[]
    ls=[i for i in range(0,1001)]
    for n in range(1,101):
        categorias.append(random.randint(1,30))
    idpeliculas=[]
    idpeliculas=random.sample(ls,100)
    dt=pd.DataFrame({'Categoria':categorias,'Pelicula':idpeliculas})
    return dt

In [3]:
dataset=datos()

In [4]:
dataset

    Categoria  Pelicula
0          23       242
1           6       672
2          16       750
3          20       898
4          30       759
5          11       934
6           8       845
7           3       618
8          13       948
9          18        68
10         30       575
11         16       637
12         28        95
13         22       720
14         12       770
15         13       210
16         30        42
17         29       701
18         15        47
19         24       692
20         19       984
21         11       386
22          6       631
23         10       583
24         27       772
25          3       422
26         29        56
27         24       817
28         21       382
29         28       200
..        ...       ...
70         12       239
71         28       190
72         19       340
73          9       987
74          5       241
75         23       193
76         14       306
77         16       366
78         12       462
79         23       167
80          9       903
81         19        17
82         12       453
83         14       604
84         13       863
85         15       668
86         15       699
87         19       530
88          2       280
89         23       586
90         14       112
91         10       165
92         22       587
93         20       470
94          3       744
95         16       739
96         20       294
97         28       546
98         11       940
99         10       533

[100 rows x 2 columns]


# DISTANCIA EUCLIDIANA

In [7]:
def deuclidiana(x1,y1,x2,y2):
    d=np.sqrt(np.power((x2-x1),2)+np.power((y2-y1),2))
    return d

In [8]:
deuclidiana(0,0,3,4)

5.0

# DISTANCIA MANHATAN

In [38]:
def demanhatan(x1,y1,x2,y2):
    dm=abs(x2-x1)+abs(y2-y1)
    return dm

In [39]:
demanhatan(0,0,3,4)

7

# DISTANCIA COSENO

In [44]:
def dcoseno(x1,y1,x2,y2):
    xy1=np.array([x1,y1])
    xy2=np.array([x2,y2])
    dc=1- ((xy1*xy2) / abs(xy1) * abs(xy2))
    return dc

# DISTANCIA JACCARD

In [47]:
def ijaccard(x1,y1,x2,y2):
    xy1=np.array([x1,y1])
    xy2=np.array([x2,y2])
    ij=((xy1&xy2)/xy1+xy2-(xy1&xy2))
    return ij

# APLICACION AL DATASET

In [13]:
x1=25

In [14]:
y1=100

### EUCLIDIANA

In [15]:
def recomendar(dt,x1,y1):
    dist=deuclidiana(dt.loc[:,'Categoria'],dt.loc[:,'Pelicula'],x1,y1)
    dt['dist']=dist
    return dt

In [16]:
temp = recomendar(dataset,x1,y1)

In [19]:
def top5(dt):
    h=np.sort(dt.loc[:,'dist'])
    return h[:5]

In [20]:
top5e=top5(temp)

In [21]:
def determinaPeliculas(top5,dt):
    idP=[]
    boolean=[]
    boolean=temp.dist.isin(top5)
    is_long=pd.Series(boolean)
    return temp[is_long]

In [23]:
peliE=determinaPeliculas(top5e,temp)

In [24]:
peliE

    Categoria  Pelicula       dist
9          18        68  32.756679
12         28        95   5.830952
26         29        56  44.181444
49          3       131  38.013156
90         14       112  16.278821

### MANHATTAN

In [25]:
def recomendar(dt,x1,y1):
    dist=demanhatan(dt.loc[:,'Categoria'],dt.loc[:,'Pelicula'],x1,y1)
    dt['dist']=dist
    return dt

In [26]:
temp = recomendar(dataset,x1,y1)

In [27]:
def top5(dt):
    h=np.sort(dt.loc[:,'dist'])
    return h[:5]

In [28]:
top5m=top5(temp)

In [29]:
def determinaPeliculas(top5,dt):
    idP=[]
    boolean=[]
    boolean=temp.dist.isin(top5)
    is_long=pd.Series(boolean)
    return temp[is_long]

In [51]:
peliM=determinaPeliculas(top5m,temp)

In [52]:
peliM

    Categoria  Pelicula  dist
9          18        68    39
12         28        95     8
26         29        56    48
49          3       131    53
90         14       112    23

### COSENO

In [53]:
def recomendar(dt,x1,y1):
    dist=dcoseno(dt.loc[:,'Categoria'],dt.loc[:,'Pelicula'],x1,y1)
    dt['dist']=dist
    return dt

In [ ]:
temp = recomendar(dataset,x1,y1)

In [ ]:
def top5(dt):
    h=np.sort(dt.loc[:,'dist'])
    return h[:5]

In [ ]:
top5c=top5(temp)

In [ ]:
def determinaPeliculas(top5,dt):
    idP=[]
    boolean=[]
    boolean=temp.dist.isin(top5)
    is_long=pd.Series(boolean)
    return temp[is_long]

In [ ]:
peliC=determinaPeliculas(top5c,temp)

In [ ]:
peliC

### JACCARD

In [ ]:
def recomendar(dt,x1,y1):
    dist=ijaccard(dt.loc[:,'Categoria'],dt.loc[:,'Pelicula'],x1,y1)
    dt['dist']=dist
    return dt

In [ ]:
temp = recomendar(dataset,x1,y1)

In [ ]:
def top5(dt):
    h=np.sort(dt.loc[:,'dist'])
    return h[:5]

In [ ]:
top5j=top5(temp)

In [ ]:
def determinaPeliculas(top5,dt):
    idP=[]
    boolean=[]
    boolean=temp.dist.isin(top5)
    is_long=pd.Series(boolean)
    return temp[is_long]

In [ ]:
peliJ=determinaPeliculas(top5c,temp)

In [ ]:
peliJ